<html><body> <!-- borrar -->
        <p>
            <strong>Symfony 2014</strong>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ras varius est ac mi aliquet consectetur.
            Morbi et massa vel felis malesuada placerat molestie ac est.
        </p>
        <!-- MENSAJES FLASH AQUÍ (utilizar <div class=”flash”> </div>) -->
        <div class="grid_6 alpha">
            <ul>
                {% for evento in eventosCol1 %}
                    <li>
                        <a href="#RUTA_A_DETALLE">{{ evento.titulo }}</a>
                        <p>{{ evento.descripcion }}</p>
                    </li>
                {% else %}
                    <li>No hay ningún evento</li>
                    {% endfor %}
            </ul>
        </div>
        <div class="grid_6 omega">
            <ul>
                {% for evento in eventosCol2 %}
                    <li>
                        <a href="#RUTA_A_DETALLE">{{ evento.titulo }}</a>
                        <p>{{ evento.descripcion }}</p>
                    </li>
                {% else %}
                    <li>No hay ningún evento</li>
                    {% endfor %}
            </ul>
        </div>
    </body></html> <!-- borrar -->